@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Space+Mono&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    margin-top: 65px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #573393;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s; 
}

.navbar a:hover {
    color: #A8DADC;
}

.navbar img {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0px; 
    left: 0;
    right: 0;
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px; 
    border-radius: 50%;
    z-index: 2;
    width: 45px;
}

.logo:hover {
    animation: wave-flag 3s linear infinite alternate;
    cursor: pointer;
}

@keyframes wave-flag {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  flex-direction: column;
  display: flex;
}

.services {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
}

.content > * {
  flex: 1 1 100%;
}

.cards:nth-child(2){
  margin-top: -55px;
}

@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}

hr {
  margin: 0;
  width: 100%; 
}


.pics img {
  width: 100px;
  height: auto; 
  border-radius: 50%;
}