@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/IMG_5933.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.419)
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s; 
}

.navbar a:hover {
    color: rgb(106,68,108);
}

.navbar img {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0px; 
    left: 0;
    right: 0;
}